* { margin: 0; padding: 0; box-sizing: border-box; }

#nav{ height: 80px;
    width: 1040px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: sticky; 
}